In [69]:
import pandas as pd
import os

In [85]:
import smtplib
 
def sendemail(from_addr, to_addr_list, cc_addr_list,
              subject, message,
              login, password,
              smtpserver='smtp.gmail.com:587'):
    header  = 'From: %s\n' % from_addr
    header += 'To: %s\n' % ','.join(to_addr_list)
    header += 'Cc: %s\n' % ','.join(cc_addr_list)
    header += 'Subject: %s\n\n' % subject
    message = header + message
    

    server = smtplib.SMTP(smtpserver)
    server.ehlo()
    server.starttls()
    server.login(login,password)
    print ("Sending", from_addr, to_addr_list)
    problems = server.sendmail(from_addr, to_addr_list, message)
    server.quit()
    return problems
    #return None

In [71]:
def send_math_email(from_addr, to_addr):
    # Identify the first name to use
    [first_name, junk, junk2] = from_addr.split('.')
    first_name = first_name.capitalize()
    # Identify the login to use
    [login, junk] = from_addr.split('@')
    
    sendemail(from_addr= from_addr, 
          to_addr_list = [to_addr],
          cc_addr_list = [],
          subject      = 'Cost for math tutoring', 
          message      = 'Hi,\n\nI am looking to get a math tutor for my 15 year old. What is your hourly rate ?\n\nThanks,\n\n%s' % first_name,          
          login        = login, 
          password     = 'asdfjkl123')

In [77]:
root_path = r'C:\Users\stacia\Documents\w241\project_tmp\241_data'


# Read tutoring businesses
tutor_path = os.path.join(root_path, 'emailsonly_math+tutoring.txt')
tutor_info = pd.read_table(tutor_path, '\t', header=None, names=['email'])
# Read fake email addresses
email_path = os.path.join(root_path, 'name_list.txt')
email_info = pd.read_table(email_path, '\t', header=None, names=['name','email'])
email_info = email_info.dropna()

In [78]:
# Only keep the businesses with email address, could lead to selection bias
sub_tutor_info = tutor_info.dropna()

In [79]:
email_info

              name                            email
0       James Hoyt         james.hoyt1124@gmail.com
1   Sarah Anderson     sarah.anderson1124@gmail.com
2  Maria Rodriguez  maria.rodriguez112453@gmail.com

In [80]:
sub_tutor_info.head()

                   email
0     chost@berkeley.edu
1   staciachoe@yahoo.com
2  stacia.choe@intel.com

In [86]:
i = 0

while i < len(sub_tutor_info.email) :
    sender_indx = i%8
    send_math_email(email_info.email[sender_indx], sub_tutor_info.email[i])
    i = i+1

('Sending', 'james.hoyt1124@gmail.com', ['chost@berkeley.edu'])
('Sending', 'sarah.anderson1124@gmail.com', ['staciachoe@yahoo.com'])
('Sending', 'maria.rodriguez112453@gmail.com', ['stacia.choe@intel.com'])